<div class="postcontent_magnum" itemprop="articleBody">
    <p>Not all of the content here is my own, so I'd like to attribute people for their work.</p>

    <h3 id="stockphotography">Stock Photography</h3>

    <ul>
        <li><a href="https://www.flickr.com/photos/neillwphoto/">Nell Williamson</a> - <a
                href="https://www.flickr.com/photos/neillwphoto/14579916743/in/photostream/">The Wheat Field</a>
            <ul>
                <li>As is.</li>
            </ul>
        </li>
    </ul>

    <h3 id="theme">Theme</h3>

    <ul>
        <li><a href="https://github.com/fredomhu/magnum">Magnum</a> - <a
                href="https://github.com/fredomhu">fredomhu</a> fork
            <ul>
                <li>Original from <a href="https://github.com/durgesh-priyaranjan">durgesh-priyaranjan</a></li>
            </ul>
        </li>
    </ul>

    <h3 id="icons">Icons</h3>

    <ul>
        <li><a href="http://cliparts.co">Cliparts.co</a> - <a href="http://cliparts.co/clipart/2598857">Wheat Icon</a>
            <ul>
                <li>Changed colour and resized.</li>
            </ul>
        </li>
    </ul>
</div>