<footer class="footer_magnum">
  <a class="subscribe_magnum btn" target="_blank" href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i> Subscribe!
  </a>

  <div class="footertext_magnum">
    Powered by <a href="http://tryghost.org" target="_blank">Ghost</a>.
  </div>
  <div class="footertext_magnum">
    All content copyright <a href="/">{{@blog.title}}</a>
    &copy; 2015 &bull; All rights reserved. &bull;
    Content <a href="https://github.com/jvtrigueros/barley#attributions">attributions.</a>
  </div>
  <div class="footertext_magnum">
    Originally built by <a href="http://ghostlook.com" target="_blank">GhostLook</a>
    & then modified by <a href="https://github.com/jvtrigueros/grain-magnum" target="_blank">Jose V. Trigueros</a>
  </div>
</footer>
